/* .Cronologynavbar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
} */
.CronologyMain {
    width: 100%;
    height: 80vh;
    overflow:auto;
    
}

.characterphoto {
    height: 320px;
}


